<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../../front/styles/ticket.css">
    <title>Ticket</title>
  </head>
  <body>
    <main class="ticket">
      <div class="ticket_header">
        <button>
          <a href="index">Назад</a>
        </button>
      </div>
      <div class="ticket_body">
        <div class="ticket_body-head">
            <h2 class="ticket_body-TicketName">#Ticket name</h2>
            <h3 class="ticekt_body-TicketOwner">#Ticket owner</h3>
            <img src="" alt="Ticket owner photo">
        </div>
        <p class="ticket_body-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          voluptas odit accusamus atque ex non tempore, quam doloremque pariatur
          rem quis eligendi a fugiat porro sit ut delectus minima iste nostrum
          labore accusantium animi. Consectetur exercitationem beatae accusamus.
          Maiores, impedit. Iure earum, placeat dolorum porro quasi autem
          aspernatur odio minima quidem voluptas odit veritatis maiores atque
          error quos reiciendis alias natus dolor, facere laboriosam? Harum
          voluptates autem placeat similique ipsum repellat corrupti, officia
          eos ipsa, recusandae sequi! Odit, accusamus velit.
        </p>
        <div class="ticket_footer">
          <div class="ticket_footer-addComment">
              <form action="#">
                <fieldset>
                    <legend>Input your comment</legend>
                    <textarea name="comment-text" maxlength="350" placeholder="type ur comment here"></textarea>
                </fieldset>
                <button type="submit">Отправить</button>
              </form>
          </div>
          <div class="ticket_footer-Comments">
            <div class="ticket_comment">
                <div class="ticket_comment-header">
                    <img src="" alt="person_image">
                    <h4 class="comment_name">#Comment-name</h4>
                </div>
              <p class="comment_text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Reprehenderit fuga voluptas accusantium optio minima harum
                explicabo iste repellendus aliquam, obcaecati exercitationem!
                Molestias quibusdam ipsa iure natus unde veritatis asperiores
                inventore.
              </p>
            </div>
            <div class="ticket_comment">
                <div class="ticket_comment-header">
                    <img src="" alt="person_image">
                    <h4 class="comment_name">#Comment-name</h4>
                </div>
              <p class="comment_text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Reprehenderit fuga voluptas accusantium optio minima harum
                explicabo iste repellendus aliquam, obcaecati exercitationem!
                Molestias quibusdam ipsa iure natus unde veritatis asperiores
                inventore.
              </p>
            </div>
            <div class="ticket_comment">
                <div class="ticket_comment-header">
                    <img src="" alt="person_image">
                    <h4 class="comment_name">#Comment-name</h4>
                </div>
              <p class="comment_text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Reprehenderit fuga voluptas accusantium optio minima harum
                explicabo iste repellendus aliquam, obcaecati exercitationem!
                Molestias quibusdam ipsa iure natus unde veritatis asperiores
                inventore.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
