@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

/* переменные */
:root {
  --black: #2e2d4d;
  --white: #e4e3d3;
  --green: #337357;
  --light_green: #5FAA89;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa";
}

body {
  background-color: var(--black);
}

section {
  max-width: 1012px;
  height: 525px;
  margin: 99px auto; /* 169px */
  
  /* background */
  background: var(--white);
  border-radius: 20px;
}

/* Введите логин */
section h3 {
  width: 350px;
  height: 105px;
  padding-left: 161px;

  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 57px;
  text-align: center;
  cursor: default;
  color: var(--black);
}

/* Сетка внутри секции */
.info_wrapper {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  padding-top: 95px;
}

.info_wrapper input {
  width: 550px;
  height: 60px;

  /* new black */
  background: var(--black);
  border-radius: 20px;
}

/* Поля ввода */
input {
  font-size: 32px;
  font-weight: 700;
  padding-left: 24px;

  /* color text */
  color: var(--white);
}
input :active, :hover, :focus{
  outline: 0;
  outline-offset: 0;
}

/* Кнопка Войти */
section button {
  max-width: 315px;
  height: 87px;
  /* TODO использовать другой тег для центрирования */
  margin-left: 416px;
  margin-top: 55px;

  /* Войти */
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 35px;
  text-align: center;
  padding: 0 31px;
  cursor: pointer;
  /* color text */
  color: var(--white);

  /* background */
  background: var(--black);
  border-radius: 20px;
  transition: 0.15s;
  border: none;
}
section button:hover {
  background-color: var(--light_green);
  color: var(--black);
}
#caption {
  text-align: center;
  color: var(--black);
  font-size: 32px;
  font-weight: 700;
  cursor: default;
  padding-top: 15px;
  /* margin: 15px auto; */
}