@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

/* переменные */
:root {
  --black: #2e2d4d;
  --white: #e4e3d3;
  --green: #337357;
  --light_green: #5faa89;
}

body {
  background-color: var(--black);
  font-family: "Comfortaa";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Вверхная навигационная панель */

.header {
  display: flex;
  background-color: var(--green);
  border-radius: 20px;
  margin: 21px auto;
  max-width: 1157px;
  height: 90px;
}
nav {
  display: flex;
  flex-direction: row;
}
.header_logo h1 {
  height: 98px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  max-width: 174px;
  color: var(--black);
}
ul {
  list-style-type: none;
  display: flex;
  margin-top: 15px;
  margin-left: 170px;
}
li {
  background-color: var(--white);
  padding: 10px;
  /* margin: 25px 48px; */
  margin: 10px 25px;
  border-radius: 20px;
  transition: 0.5s;
  max-height: 40px;
}
li:hover {
  background-color: var(--light_green);
  transform: scale(1.05);
}
a {
  text-decoration: none;
  color: var(--black);
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 17px 20px;
}

/* Навигация в тикетах */
.search {
  display: flex;
  justify-content: space-around;
}
#search_input,
#select {
  padding-left: 13px;
}
#search_input,
#select,
#ticket_btn {
  font-family: "Comfortaa";
  height: 38px;
  width: 280px;
  border-radius: 20px;
  background-color: var(--white);
  color: var(--black);
  transition: 0.15s;
}
#ticket_btn,
#select {
  cursor: pointer;
  outline: none;
}
#ticket_btn:hover,
#select:hover,
#search_input:hover {
  background-color: var(--light_green);
}

/* Секция тикетов */
.ticket_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.ticket {
  background-color: var(--white);
  margin: 0px 50px;
  padding: 10px;
  border-radius: 20px;
  /* display: flex;
  flex-direction: column; */
  transition: 0.3s;
}
.ticket p {
  cursor: default;
}
.ticket:hover {
  box-shadow: 0 0 15px var(--white);
  transform: scale(1.05);
}

.ticket h2 {
  background-color: var(--green);
  text-align: center;
  /* width: 50px; */
  border-radius: 20px;
  max-width: 178px;
  margin: 0 auto;
}
.ticket button {
  background: transparent;
  border: none;
  opacity: 0.75;
}
.ticket button:hover,
.ticket span:hover {
  opacity: 1;
}

.ticket img {
  width: 28px;
  height: 24px;
}
.ticket span {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 24px;
  opacity: 0.75;
}
.dislike {
  align-self: flex-end;
}
