@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

/* переменные */
:root {
    --black: #2e2d4d;
    --white: #e4e3d3;
    --green: #337357;
    --light_green: #5FAA89;
  }
* {
    font-family: "Comfortaa";
}

body {
    background-color: var(--black);
}

.ticket {
    background-color: var(--white);
}
.ticket_header {
    display: flex;
    justify-content: space-between;
}
.ticket_body-head {
    display: flex;
    gap: 20px;
}
.ticket_body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.ticket_footer {
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;

    background-color: var(--black);
}
.ticket_footer-addComment {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    gap: 10px;
    border: 1px solid black;

    background-color: var(--white);
}
textarea {
    width: 700px;
    height: 70px;
    resize: none;
    overflow: auto;
    border-radius: 20px;
}
.ticket_footer-Comments {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}
.ticket_comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;

    background-color: var(--white);
    border-radius: 20px;
    /* color text */
    color: black;
}
.ticket_comment-header {
    border-bottom: 1px solid black;
    display: flex;
    gap: 10px;
}

.ticket_header button {
  
    /* Назад */
    font-style: normal;
    text-align: center;

    cursor: pointer;
    /* color text */
    color: var(--white);

}

.ticket_footer button {
    max-width: 220px;
    height: 37px;
    
    /* Отправить */
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    padding: 0 31px;
    cursor: pointer;
    /* color text */
    color: var(--white);
  
    /* background */
    background: var(--black);
    border-radius: 20px;
    transition: 0.15s;
    border: none;
}
.ticket_footer button:hover {
    background-color: var(--light_green);
    color: var(--black);
}
